<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">Looking for a furever friend?</h1>
		<p class="lead">We have over 10,000 animals in need of a home</p>
		<a class="btn btn-primary btn-lg" routerLink="/browse" role="button">find a
			pet</a>
	</div>
</div>

<div class="container">
	<h2>Featured Pets</h2>
	<div class="row">
		<div class="col-4" *ngFor="let featuredPet of featuredPets">
			<div class="card">
				<img class="card-img-top"
					[src]="featuredPet?.media?.photos?.photo[2]?.$t"
					alt="Featured pet image">
				<div class="card-body">
					<h4 class="card-title">{{featuredPet?.name?.$t}},
						{{featuredPet?.age?.$t}}</h4>
					<p class="card-text">{{featuredPet?.breeds?.breed?.$t}}</p>
					<p class="card-text">{{featuredPet?.description?.$t}}</p>
					<a [routerLink]="['/browse', featuredPet?.id?.$t]" class="btn btn-primary inquire-btn">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>